{% extends "base.html" %}

{% block body_class %}about{% endblock %}

{% block content %}
<p class="quote">&ldquo;Do you now understand what love is, with its utmost joys merged into its utmost sufferings, with its mixture of what is sweet and most bitter?&rdquo;</p>
<h3>A Dream Play</h3>
<p>Agnes, daughter of a god, has a crush on mankind. To her human life is a wonderland of dancing girls, misfits and music hall numbers, where stories merge and evaporate like dreams. Challenging the power of her imagination, Agnes discovers joy and heartbreak in a coming‐of‐age story like no other.</p>
<p>University of Oxford Student Company BlindSpot Productions transforms daily life into a playground of the imagination in a vibrant new production that combines all the glamour of the music hall with the magic of a fairytale. A rare opportunity to see a classic play, this new adaptation captures the playfulness and hope of the play Strindberg called his “greatest joy”.</p>
{% endblock content %}

