{% extends "base.html" %}

{% block body_class %}about{% endblock %}

{% block content %}
<p class="quote">&ldquo;Do you now understand what love is, with its utmost joys merged into its utmost sufferings, with its mixture of what is sweet and most bitter?&rdquo;</p>
<h3>A Dream Play</h3>
<p>A Dream Play is the story of Agnes, daughter of a god, who is fascinated by humanity from her heavenly home. Her father decides to take her to Earth in a dream, and there she meets an ensemble of characters who tell her their stories through a series of vignettes, some incorporating movement and dance. Through this dream Agnes sees what it would be like to grow up, and both how hard and joyful life can be.</p>
<p>
{% endblock content %}

