{% extends "base.html" %}

{% block body_class %}recruitment{% endblock %}

{% block content %}
<h3>Auditions</h3>
<p>Acting auditions will be held over 2nd, 3rd and 4th weeks of Michaelmas Term 2010. Details will be posted here shortly. Email <a href="mailto:auditions@adreamplay.com">auditions@adreamplay.com</a> if you would like to be notified of auditions details when they are ready.</p>
<h3>Production Positions</h3>
<p>We currently have assistant level positions in marketing, producing, and set building. We are also looking for an illustrator, and will be auditioning musicians later this term. If you would like to join our team, see the email addresses below.</p>
<dl>
    <dt><a href="mailto:marketing@adreamplay.com">Fabienne Cheung</a> (<span class="job">Marketing Manager</span>)</dt>
    <dd>
        <ul>
            <li>Marketing Assistants</li>
            <li>College Reps</li>
        </ul>
    </dd>
    <dt><a href="mailto:productionmanager@adreamplay.com">Matt Wills</a> (<span class="job">Production Manager</span>) </dt>
    <dd>
        <ul>
            <li>Illustrators</li>
            <li>Set Builders</li>
            <li>Set Painters</li>
        </ul>
    </dd>
    <dt><a href="mailto:director@adreamplay.com">Griffith Rees</a> (<span class="job">Director</span>)</dt>
    <dd>
        <ul>
            <li>Musicians</li>
            <li>Dancers</li>
        </ul>
    </dd>
    <dt><a href="mailto:producer@adreamplay.com">Charlotte Ellis and Heidi Stancliffe</a> (<span class="job">Producers</span>)</dt>
    <dd><ul><li>All other enquiries</li></ul></dd>
</dl>
{% endblock content %}

