{% extends "base.html" %}

{% block body_class %}recruitment{% endblock %}

{% block content %}
<h3>Auditions</h3>
<p>First round acting auditions will be held over 2nd and 3rd weeks of Michaelmas Term (17 - 24 October). Please send the following information to <a href="mailto:auditions@adreamplay.com">auditions@adreamplay.com</a>:</p>
<ul>
    <li>Full Name</li>
    <li>University/Institution/College (if at Oxford)</li>
    <li>Course/Occupation</li>
    <li>If at University, what year of course</li>
    <li>Mobile (in case audition slots change)</li>
    <li>Acting Experience</li>
    <li>Music Experience: Instruments/Singing, Groups, Grades, Years</li>
    <li>Dance Experience: Styles, Grades, Years</li>
    <li>Commitments in Michaelmas and Hilary Terms (Nov 2010 - February 2011)</li>
    <li><strong>Preferred Audition Time</strong></li>
</ul>
<p>Audition times will be the afternoons of the Sunday and Saturday of 2nd week (17th and 23rd), the Sunday of 3rd week (24th), and evenings of those weeks: 18th-22nd and 25th-29th. Please indicate <strong>at least 3 preferred dates</strong>.</p>
<p><strong>Please prepare and memorize a short monologue of your own choosing</strong>; something you are comfortable with and shows your strengths as an actor. It can be modern, classic, comedy or tragedy; Shakespeare is often a good choice. The director (Griffith Rees) and assistant director (Ollo Clark) will work with the audtionee to see how well they take direction.</p>
<p>Musicians interested in playing in the orchestra should email the <a href="mailto:director@adreamplay.com">director</a>. Those auditions will be held later in term.</p>
<h3>Production Positions</h3>
<p>We currently have assistant level positions in marketing, producing, and set building. We are also looking for an illustrator, and will be auditioning musicians later this term. If you would like to join our team, see the email addresses below.</p>
<dl>
    <dt><a href="mailto:marketing@adreamplay.com">Fabienne Cheung</a> (<span class="job">Marketing Manager</span>)</dt>
    <dd>
        <ul>
            <li>Marketing Assistants</li>
            <li>College Reps</li>
        </ul>
    </dd>
    <dt><a href="mailto:productionmanager@adreamplay.com">Matt Wills</a> (<span class="job">Production Manager</span>) </dt>
    <dd>
        <ul>
            <li>Illustrators</li>
            <li>Set Builders</li>
            <li>Set Painters</li>
        </ul>
    </dd>
    <dt><a href="mailto:director@adreamplay.com">Griffith Rees</a> (<span class="job">Director</span>)</dt>
    <dd>
        <ul>
            <li>Musicians</li>
            <li>Dancers</li>
        </ul>
    </dd>
    <dt><a href="mailto:producer@adreamplay.com">Charlotte Ellis and Heidi Stancliffe</a> (<span class="job">Producers</span>)</dt>
    <dd><ul><li>All other enquiries</li></ul></dd>
</dl>
{% endblock content %}

