{% extends "base.html" %}

{% block extra_head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        /*$('#map_canvas').insertBefore('h3').height(300).width(400).css('float', 'left');*/
        gmap_initialize(51.75475, -1.26066, "Oxford Playhouse");
    });

    function gmap_initialize(lon, lat, label) {
        var coordinates = new google.maps.LatLng(lon, lat);
        var settings = {
            zoom: 15,
            center: coordinates,
            mapTypeControl: true,
            mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
            navigationControl: true,
            navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), settings);
        var venueMarker = new google.maps.Marker({
            position: coordinates,
            map: map,
            title: label,
            });
    }
</script>
{% endblock extra_head %}

{% block body_class %}tickets{% endblock %}

{% block content %}
<h3>Tickets</h3>
<p>Tickets are on sale from the Oxford Playhouse box office and <a href="http://www.oxfordplayhouse.com/show/?eventid=1725">website</a>.</p>
<div id="map_canvas" class="grid_3 suffix_1"></div>
<div class="contact grid_5 ">
    <h3><a href="http://www.oxfordplayhouse.com/show/?eventid=1725">Oxford Playhouse</a></h3>
    <table>
        <tr>
            <td class="label">Telephone</td>
            <td class="data">01865 305300</td>
        </tr>
        <tr>
            <td class="label">Address</td>
            <td class="data">Oxford Playhouse<br />Beaumont Street<br />Oxford OX1 2LW</td>
        </tr>
    </table>
</div>
<div class="grid_10 performances">
<table>
    <tr>
        <th class="date">Date</th>
        <th class="time">Times</th>
        <th class="price">Prices</th>
        <th class="events">Events</th>
    </tr>
    <tr>
        <td class="date">Wed 17/2</td>
        <td class="time">19:30</td>
        <td class="price">£9.50 | £11.50 | £14.50</td>
        <td class="events">Post-Show Talk</td>
    </tr>
    <tr>
        <td class="date">Thu 17/3</td>
        <td class="time">14:30<br />19:30</td>
        <td class="price">£9.50 | £11.50 | £14.50</td>
        <td class="events"></td>
    </tr>
    <tr>
        <td class="date">Fri 17/4</td>
        <td class="time">20:00</td>
        <td class="price">£9.50 | £11.50 | £14.50</td>
        <td class="events">Pre-Show Talk</td>
    </tr>
    <tr class="last">
        <td class="date">Sat 17/5</td>
        <td class="time">14:30<br />19:30</td>
        <td class="price">£9.50 | £11.50 | £14.50</td>
    </tr>
</table>
</div>
{% endblock content %}

