<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 6000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: 'none',
      color: '#ffffff'
    },
    tweets: {
      background: 'none',
      color: '#ffffff',
      links: '#75BF53',
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'all'
  }
}).render().setUser('waittilldark').start();
/*  version: 2,
  type: 'profile',
  rpp: 1,
  interval: 6000,
  width: 400,
  height: 50,
  theme: {
    shell: {
      background: 'none',
      color: '#ffffff'
    },
    tweets: {
      background: 'none',
      color: '#ffffff',
      links: '#75BF53'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'all'
  }
}).render().setUser('waittilldark').start();*/
</script>
