@font-face {
	font-family: 'TheanoOldStyleRegular';
	src: url('/media/mingus/fonts/TheanoOldStyle-Regular-webfont.eot');
	src: local('☺'),
         url('/media/mingus/fonts/TheanoOldStyle-Regular-webfont.woff') format('woff'),
         url('/media/mingus/fonts/TheanoOldStyle-Regular-webfont.ttf') format('truetype'),
         url('/media/mingus/fonts/TheanoOldStyle-Regular-webfont.svg#webfont26XueRs0') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OldStyle1HPLHS';
	src: url('/media/mingus/fonts/oldsh___-webfont.eot');
	src: local('☺'),
         url('/media/mingus/fonts/oldsh___-webfont.woff') format('woff'),
         url('/media/mingus/fonts/oldsh___-webfont.ttf') format('truetype'),
         url('/media/mingus/fonts/oldsh___-webfont.svg#webfontYD8HJyPc') format('svg');
	font-weight: normal;
	font-style: normal;
}

li.twittLI {
    border-bottom: 1px dotted;
    margin-bottom: .5em;
    padding-bottom: .5em;
    min-height: 52px;
    clear: both;
}

img.juitterAvatar {
    float: left;
    margin: 0 .5em .5em 0;
}


body {
    background: url('/media/mingus/img/nebula_tile.jpg');
    font-family: 'OldStyle1HPLHS', 'Georgia', 'Times New Roman', Times, serif;
    color: #222;
    font-size: 16pt;
}

a:link, a:visited {
    font-weight: normal;
    text-decoration: underline;
}

a:link, strong {
    color: #800000;
}

a:visited {
    color: #bb5858;
}

/* Un-comment for the launch...
#body-container {
    background: url('/media/mingus/img/pages.png') no-repeat top right;
}
*/

/* Holding site */
#book-container {
    margin: 70px auto;
    width: 650px;
}

#book {
   border: none;
} 
/* End holding site */

#container {
    background: url('/media/mingus/img/body.png') repeat-y;
    margin:auto;
    width: 838px;
    z-index: -1;
}

#content {
    margin-top: 1em;
}

#header {
    padding-bottom: 0px !important;
    background: url('/media/mingus/img/header_big.png') no-repeat;
    margin-bottom: 0px;
    border: none;
    width: 838px;
    margin: auto;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
    height: 278px;
}

form.search {
    display: none;
}

/* Depressing trick to fix IE hr background problems */
div.hr hr {
    width: 60%;
    color: #800000;
    padding-top: 2em;
    display: none;
}

div.hr {
    background: url('/media/mingus/img/filigree_footer.png') no-repeat scroll center;
    height: 40px;
    top: 27px;
    position: relative;
}


#footer {
    background: url('/media/mingus/img/footer.png') no-repeat;
    width: 838px;
    height: 150px;
    margin: auto;
    position: relative;
    top: -1em;
}

#copywrite {
    position: absolute;
    bottom: 0px;
    text-align: center;
    left: 12%;
}

#logo {
    margin-left: 50px;
    position: absolute;
    margin-top: 30px;
}

#logo img{
    border: none;
}

.navbar-one {
    float: none;
    margin-top: 0px;
}

#nav li.selected a {
    color: #800000;
    font-weight: bold;
}

#nav li.selected a, #nav li a:hover {
    background: url('/media/mingus/img/filigree_nav.png') no-repeat center 1.2em;
}

#nav ul li a {
    font-size: 19pt !important;
    line-height: 32pt !important;
    color: #222;
    margin-bottom: .5em;
    padding-bottom: .5em;
    text-shadow: #fff 0px 0px 10px;
}

#nav {
    float: none;
    height: 2em;
    padding: 0 68px;
    position: absolute;
    top: 277px;
}


ul.navbar-one li {
    margin-right: 33px;
}

.search {
    text-align: right;
}

img {
    border: 2px solid #333;
}

.profiles div.photo {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

div.profiles {
    clear: left;
}

.headshot {
    float: left;
    margin-right: 20px;
}

/*
dl.role {
    margin-left: 170px;
}*/

.profiles h3 a{
    font-size: 1.2em;
    font-weight: normal;
}

.profiles dl.role {
    margin-left: 10px;
}

.role .position {
    font-weight: bold;
}

.role .description {
    font-style: italic;
    padding-left: 20px;
}

.bio {
    margin-top: 1em;
}

#map_canvas {
    width: 200px;
    height: 250px;
}

.contact a {
    text-decoration: none;
    color: #800000;
}

.performances table {
    margin-top: 1.5em;
}

.performances th {
    font-weight: bold;
    padding-left: 1em;
    text-align: left;
}

.performances tr {
    border-bottom: 1px solid #222;
}

.performances tr.last {
    border: none;
}

.performances td {
    padding-left: 1em;
}

th.date{
    width: 100px;
}

div.contact {
    padding-left: 1em;
}

.contact .label {
    font-weight: bold;
    width: 100px;
}

.contact .data {
    padding-left: 1em;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: #800000;
}

h3 {
    font-size: 1.35em;
    color: #800000;
}


/* Twitter widget */
div.twtr-hd {
    display: none;
}

div.twtr-ft {
    display: none;
}

/* Meta header */
#meta {
    position: absolute;
    top: 150px;
    left: 945px;
}

#meta img{
    border: none;
    margin: 0 0 -2px 1px;
}

/* Fix Length */
#fixlength {
    clear: both;
}

.quote {
    font-size: 1.5em;
    margin-top: 1em;
}

/* twitter */

#twitter {
    font-size: .5em;
}

/* Sponsor stuff */

.sponsor-list img {
    float: right;
    border: none;
    margin-right: 20px;
    margin-bottom: 20px;
}
.sponsor-list h3 {
    clear: both;
    float: left;
}

