#body-container {
    background: url('/media/mingus/img/window.jpg') no-repeat scroll 550px -550px;
}

#header {
    padding-bottom: 0px !important;
}

#logo img{
    border: none;
}

.navbar-one {
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 70px !important;
}

#nav ul li a {
    font-size: 16pt !important;
    font-weight: bold;
    line-height: 12pt !important;
}

.search {
    text-align: right;
}

img {
    border: 2px solid #333;
}

.profiles div.photo {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

div.profiles {
    clear: left;
}

.headshot {
    float: left;
    margin-right: 20px;
}

dl.role {
    margin-left: 170px;
}

.profiles h3 a{
    font-size: 1.5em;
    font-weight: normal;
}

.profiles dl.role {
    margin-left: 10px;
}

.role .position {
    font-weight: bold;
}

.role .description {
    font-style: italic;
    padding-left: 20px;
}

.bio {
    margin-top: 1em;
}


