{% extends "blog/base_blog.html" %}
{% load honeypot i18n %}

{% block title %}{% trans "Contact" %} | {{ block.super }}{% endblock %}

{% block body_id %}contact{% endblock %}

{% block extra_head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAs28utdPrfmBuFv5kDtxoqhQEmXTy7t_3U-QjL987lkPlRABeSRSUvrn9S6PFW1Xb-uUEGsJCKqHHXw" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        gmap_initialize(55.94676676092141, -3.1869256496429443, "Royal College of Surgeons");
    });

    function gmap_initialize(lon, lat, label) {
        var coordinates = new google.maps.LatLng(lon, lat);
        var settings = {
            zoom: 15,
            center: coordinates,
            mapTypeControl: true,
            mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
            navigationControl: true,
            navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), settings);
        var venueMarker = new google.maps.Marker({
            position: coordinates,
            map: map,
            title: label,
            }
    }
</script>
{% endblock %}

{% block content %}

<h2>{% trans "Contact information" %}</h2>
<h3>Venue</h3>
<div id="map_canvas" style="width:800px; height:500px"></div>
<dl>
    <dt>Telephone</dt>
    <dd>0845 508 8515</dd>
    <dt>Address</dt>
    <dd>Royal College of Surgeons<br />Nicolson Street<br />Edinburgh<br />EH8 9DW</dd>
</dl>

<h3>{% trans "Contact Form" %}</h3>

<form method="POST" action=".">

  {% if form.errors %}
  <div id="form-error">
    <p>{% trans "Woops, looks like you forgot some information." %}</p>
    <ul>
    {% for field in form %}
    {% if field.errors %}<li>{{ field.label }} - {{ field.errors|striptags }}</li>{% endif %}
    {% endfor %}
    </ul>
  </div>
  {% endif %}

<p>
<label for="form.name.label">{% trans "Your name" %}</label>
{{ form.name }}
</p>

<p>
<label for="form.email.label">{% trans "Your email" %}</label>
{{ form.email }}
</p>

<p>
<label for="form.body.label">{% trans "Your message" %}</label>
{{ form.body }}
</p>

{% render_honeypot_field %}

<input type="submit" name="submit" value="{% trans "Submit" %}">
</form>

{% endblock %}
